* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% auto;
      grid-template-columns: 7% auto;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  z-index: 10;
  -webkit-box-shadow: -1px 1px 10px 0px grey;
          box-shadow: -1px 1px 10px 0px grey;
}

aside nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90%;
}

aside nav svg {
  margin: 20px auto;
}

aside nav svg:hover {
  cursor: pointer;
}

aside nav svg:hover .menuIcon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #0023FF;
}

main {
  height: 100vh;
  overflow: hidden;
  background: #F0F0F0;
}

main #intro {
  background-image: url(images/photo-1449247709967-d4461a6a6103.png);
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  display: none;
}

main #intro .title {
  text-align: center;
  position: relative;
  left: 50%;
  top: -2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #intro .title h2 {
  font-size: 270px;
  position: absolute;
  left: 50%;
  top: -5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  z-index: -1;
  color: #E7E7E7;
}

main #intro .title h1 {
  font-size: 150px;
  margin: 0;
  font-weight: 100;
}

main #intro .title p {
  margin-top: 5px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

main #intro .title button {
  background: #0023FF;
  border: 0;
  font-size: 12px;
  padding: 14px 40px;
  border-radius: 30px;
  color: white;
}

main #intro .title button:focus {
  outline: 0;
}

main #intro .title button:hover {
  cursor: pointer;
}

main #products {
  height: 100%;
  width: 100%;
  padding-left: 15%;
  overflow-y: scroll;
  -webkit-animation: faidIn 1s;
          animation: faidIn 1s;
}

main #products h3 {
  font-size: 60px;
  font-weight: 300;
  margin: 0 auto 25px;
  padding-top: 25px;
}

main #products .products {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px 240px 240px 240px 240px 240px;
      grid-template-rows: 240px 240px 240px 240px 240px 240px;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;
  margin-bottom: 30px;
}

main #products .products .product {
  background: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #products .products .product:hover {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

main #products .products .product img {
  width: auto;
  height: 50%;
}

main #products .products .product .text {
  width: 80%;
  margin-bottom: 10px;
}

main #products .products .product .text h4 {
  font-size: 25px;
  margin: 0;
  font-weight: 300;
}

main #products .products .product .text p {
  font-size: 15px;
  color: A8A8A8;
  font-weight: 300;
  margin: 0px auto 10px;
}

main #products .products .product .text h5 {
  font-size: 15px;
  color: #0023FF;
  margin: 0;
}

main #products .products .product:nth-child(4),
main #products .products .product:nth-child(8),
main #products .products .product:nth-child(13),
main #products .products .product:nth-child(17) {
  grid-column: span 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #products .products .product:nth-child(4) img,
main #products .products .product:nth-child(8) img,
main #products .products .product:nth-child(13) img,
main #products .products .product:nth-child(17) img {
  width: auto;
  height: 100%;
}

main #products .products .product:nth-child(4) .text,
main #products .products .product:nth-child(8) .text,
main #products .products .product:nth-child(13) .text,
main #products .products .product:nth-child(17) .text {
  width: auto;
}

main #products .products .product:nth-child(2),
main #products .products .product:nth-child(9),
main #products .products .product:nth-child(12),
main #products .products .product:nth-child(16) {
  grid-column: span 3;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #products .products .product:nth-child(2) img,
main #products .products .product:nth-child(9) img,
main #products .products .product:nth-child(12) img,
main #products .products .product:nth-child(16) img {
  width: auto;
  height: 100%;
}

main #products .products .product:nth-child(2) .text,
main #products .products .product:nth-child(9) .text,
main #products .products .product:nth-child(12) .text,
main #products .products .product:nth-child(16) .text {
  width: auto;
}

main #product {
  height: 100%;
  width: 100%;
}

main #product .img {
  height: 100%;
  width: 40%;
  float: left;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #product .img img {
  width: 90%;
}

main #product .contener {
  height: 70%;
  width: 60%;
  float: right;
  padding: 5vh 30px;
}

main #product .contener h3 {
  font-size: 60px;
  font-weight: 300;
  margin: 0 auto 25px;
  padding-top: 0px;
}

main #product .contener .text {
  margin: 15% 0;
}

main #product .contener .text > .name {
  color: #0023FF;
  font-weight: 100;
  font-size: 70px;
  margin: 0;
}

main #product .contener .text > .description {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 50px;
}

main #product .contener .text .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

main #product .contener .text .payment > .cost {
  font-size: 44px;
  margin: 0;
  clear: none;
  color: #0023FF;
}

main #product .contener .text .payment > .cost::before {
  content: "COST:";
  font-size: 18px;
  display: block;
  clear: none;
  width: 20px;
  color: black;
  font-weight: 400;
}

main #product .contener .text .payment .input input {
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  padding: 10px 0px;
  width: 80px;
  text-align: center;
  margin-right: 30px;
  margin-top: 5px;
}

main #product .contener .text .payment .input input:focus {
  outline: 0;
}

main #product .contener .text .payment .input label {
  font-size: 18px;
}

main #product .contener .text .payment .input button {
  background: #0023FF;
  border: 0;
  font-size: 12px;
  padding: 14px 40px;
  border-radius: 30px;
  color: white;
}

main #product .contener .text .payment .input button:focus {
  outline: 0;
}

main #product .contener .text .payment .input button:hover {
  cursor: pointer;
}

main #searchPanal {
  background-image: url(images/photo-1449247709967-d4461a6a6103.png);
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
}

main #searchPanal .contant {
  height: 100%;
  width: 100%;
  background: rgba(225, 225, 225, 0.8);
  padding: 15vh 10%;
}

main #searchPanal .contant input[type="text"] {
  background: rgba(225, 225, 225, 0);
  width: 80%;
  border: 0;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  font-size: 110px;
  font-weight: 300;
}

main #searchPanal .contant input[type="text"]:focus {
  outline: 0;
}

main #searchPanal .contant label {
  margin-top: 15px;
  font-size: 35px;
  color: #b1b1b1;
}

main #Hamburger {
  position: absolute;
  top: 5vh;
  right: 5vh;
  height: 60px;
  width: 60px;
  background: white;
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #DBDBDB;
          box-shadow: 0 0 15px #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 7;
}

main #Hamburger:focus {
  outline: 0;
}

main #Hamburger:hover {
  cursor: pointer;
}

main #menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background: white;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #menu ul {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #menu ul li {
  list-style: none;
  font-size: 16px;
  color: #C1C1C1;
}

main #menu ul li:hover {
  cursor: pointer;
}
/*# sourceMappingURL=scss.css.map */