* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 7% auto;
    font-family: 'Lato', sans-serif;
    overflow: hidden;

}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 5vh;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 90%;

        svg {
            margin: 20px auto;

            &:hover {
                cursor: pointer;

                .menuIcon {
                    transition: 0.5s;
                    fill: #0023FF;
                }
            }


        }
    }
}

main {
    height: 100vh;
    overflow-y: scroll;
    background: #F0F0F0;

    #intro {
        background-image: url(images/photo-1449247709967-d4461a6a6103.png);
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        display: none;

        .title {
            text-align: center;
            position: relative;
            left: 50%;
            top: -2%;
            transform: translateX(-50%);


            h2 {
                font-size: 270px;
                position: absolute;
                left: 50%;
                top: -5%;
                transform: translateX(-50%);
                margin: 0;
                z-index: -1;
                color: #E7E7E7;

            }

            h1 {
                font-size: 150px;
                margin: 0;
                font-weight: 100;
            }

            p {
                margin-top: 5px;
                margin-bottom: 25px;
                letter-spacing: 1px;
            }

            button {
                background: #0023FF;
                border: 0;
                font-size: 12px;
                padding: 14px 40px;
                border-radius: 30px;
                color: white;

                &:focus {
                    outline: 0;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    #productPanal {
        height: 100%;
        width: 100%;
        padding-left: 15%;

        h3 {
            font-size: 60px;
            font-weight: 300;
            margin: 0 auto 25px;
            padding-top: 25px;
        }

        .products {
            height: 70%;
            width: 80%;
            display: grid;
            grid-template-rows: 240px 240px 240px 240px;
            grid-template-columns: 25% 25% 25% 25%;
            grid-gap: 20px;

            .product {
                background: white;
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                img {
                    width: auto;
                    height: 50%;
                }

                .text {
                    width: 80%;
                    margin-bottom: 10px;

                    h4 {
                        font-size: 25px;
                        margin: 0;
                        font-weight: 300;
                    }

                    p {
                        font-size: 15px;
                        color: A8A8A8;
                        font-weight: 300;
                        margin: 0px auto 10px;
                    }

                    h5 {
                        font-size: 15px;
                        color: #0023FF;
                        margin: 0;
                    }
                }
            }

            .horizontal {
                flex-direction: row;
                justify-content: space-evenly;

                img {
                    width: auto;
                    height: 100%;
                }

                .text {
                    width: auto;
                }
            }

            .product:nth-child(2) {
                grid-column: span 3;
            }

            .product:nth-child(4) {
                grid-column: span 2;
            }

            .product:nth-child(6) {
                grid-column: span 3;
            }

            .product:nth-child(10) {
                grid-column: span 2;
            }

            .product:nth-child(11) {
                grid-column: span 3;
            }
        }



    }

    #Hamburger {
        position: absolute;
        top: 5vh;
        right: 5vh;

        height: 60px;
        width: 60px;
        background: white;
        border: 0;
        border-radius: 50%;
        box-shadow: 0 0 15px #DBDBDB;
        display: flex;
        justify-content: center;
        align-content: center;
        z-index: 7;

        &:focus {
            outline: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 20%;
        background: white;
        transition: .5s;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;


        ul {
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            li {
                list-style: none;
                font-size: 16px;
                color: #C1C1C1;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}