* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7% auto;
      grid-template-columns: 7% auto;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5vh;
}

aside nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90%;
}

aside nav svg {
  margin: 20px auto;
}

aside nav svg:hover {
  cursor: pointer;
}

aside nav svg:hover .menuIcon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #0023FF;
}

main {
  height: 100vh;
  overflow-y: scroll;
  background: #F0F0F0;
}

main #intro {
  background-image: url(images/photo-1449247709967-d4461a6a6103.png);
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
  display: none;
}

main #intro .title {
  text-align: center;
  position: relative;
  left: 50%;
  top: -2%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #intro .title h2 {
  font-size: 270px;
  position: absolute;
  left: 50%;
  top: -5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  z-index: -1;
  color: #E7E7E7;
}

main #intro .title h1 {
  font-size: 150px;
  margin: 0;
  font-weight: 100;
}

main #intro .title p {
  margin-top: 5px;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

main #intro .title button {
  background: #0023FF;
  border: 0;
  font-size: 12px;
  padding: 14px 40px;
  border-radius: 30px;
  color: white;
}

main #intro .title button:focus {
  outline: 0;
}

main #intro .title button:hover {
  cursor: pointer;
}

main #productPanal {
  height: 100%;
  width: 100%;
  padding-left: 15%;
}

main #productPanal h3 {
  font-size: 60px;
  font-weight: 300;
  margin: 0 auto 25px;
  padding-top: 25px;
}

main #productPanal .products {
  height: 70%;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px 240px 240px 240px;
      grid-template-rows: 240px 240px 240px 240px;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 20px;
}

main #productPanal .products .product {
  background: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #productPanal .products .product img {
  width: auto;
  height: 50%;
}

main #productPanal .products .product .text {
  width: 80%;
  margin-bottom: 10px;
}

main #productPanal .products .product .text h4 {
  font-size: 25px;
  margin: 0;
  font-weight: 300;
}

main #productPanal .products .product .text p {
  font-size: 15px;
  color: A8A8A8;
  font-weight: 300;
  margin: 0px auto 10px;
}

main #productPanal .products .product .text h5 {
  font-size: 15px;
  color: #0023FF;
  margin: 0;
}

main #productPanal .products .horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main #productPanal .products .horizontal img {
  width: auto;
  height: 100%;
}

main #productPanal .products .horizontal .text {
  width: auto;
}

main #productPanal .products .product:nth-child(2) {
  grid-column: span 3;
}

main #productPanal .products .product:nth-child(4) {
  grid-column: span 2;
}

main #productPanal .products .product:nth-child(6) {
  grid-column: span 3;
}

main #productPanal .products .product:nth-child(10) {
  grid-column: span 2;
}

main #productPanal .products .product:nth-child(11) {
  grid-column: span 3;
}

main #Hamburger {
  position: absolute;
  top: 5vh;
  right: 5vh;
  height: 60px;
  width: 60px;
  background: white;
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px #DBDBDB;
          box-shadow: 0 0 15px #DBDBDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 7;
}

main #Hamburger:focus {
  outline: 0;
}

main #Hamburger:hover {
  cursor: pointer;
}

main #menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background: white;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #menu ul {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #menu ul li {
  list-style: none;
  font-size: 16px;
  color: #C1C1C1;
}

main #menu ul li:hover {
  cursor: pointer;
}
/*# sourceMappingURL=scss.css.map */